AUDIO_XTTS_PORT=7870
AUDIO_SILERO_PORT=7866
AUDIO_FISH_PORT=7865
XTTS_DEVICE=auto
SILERO_DEVICE=cpu
XTTS_DEFAULT_TTS_BACKEND=silero
FISH_BACKEND=placeholder
START_XTTS=1
START_SILERO=1
START_FISH=1
XAI_API_KEY=
